<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">


    <test verbose="2" preserve-order="true" name="API tests">
        <classes>
            <class name="Tests.CRUDTest">
                <methods>
                    <include name="createUser"/>
                    <include name="getUser"/>
                    <include name="updateUser"/>
                    <include name="deleteUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>